

<div class="nav-scroller bg-white shadow-sm second-nv">
  <nav class="nav nav-underline">
  
     <a class="nav-link" href="#"><i class="fa fa-bars"></i>Menu</a>
    <a class="nav-link" href="#"><i class="fa fa-archive"></i>Header</a>
    <a class="nav-link" href="#"><i class="fa fa-file"></i>Content</a>
    <a class="nav-link" href="#"><i class="fa fa-copyright"></i>Footer</a>
    <a class="nav-link" href="#"><i class="fa fa-minus"></i>HR</a>
    <a class="nav-link" href="#"><i class="fa fa-arrows-h"></i>Spacer</a>
    <a class="nav-link" href="#"><i class="fa fa-wpforms" aria-hidden="true"></i>Form</a>
    <a class="nav-link" href="#"><i class="fa fa-money"></i>Buttons</a>
    <a class="nav-link" href="#"><i class="fa fa-sliders" aria-hidden="true"></i>Brand Slider</a>
    <a class="nav-link" href="#"><i class="fa fa-trash"></i>Delete</a>
    <a class="nav-link" href="#"><i class="fa fa-undo" aria-hidden="true"></i>Undo</a>
    <a class="nav-link" href="#"><i class="fa fa-share-square"></i>Forward</a>
    <a class="nav-link" href="#"> <i class="fa fa-code"></i>Code</a>

   
  </nav>
</div>